<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/jquery.cookie.js"></script>

    <link rel="stylesheet" href="/css/background.css">

    <meta charset="UTF-8">
    <title>Main</title>

    <link href="https://fonts.googleapis.com/css?family=Zeyada" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed" rel="stylesheet">

    <link href="/css/navigation-bar.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/main-page.css">

</head>
    <body>
        <div class="background-img"><img src="/images/background-img.jpeg"></div>
    <div id="main">
        <div class="container">
            <ul class="navbar-ul">
                <li class="navbar-li"><p>KIMOKJUJO.CO</p></li>

                <li class="navbar-li"><a id="logout" href="/logout" style="display:none">LOGOUT</a></li>
                <li class="navbar-li"><a id="login" href="/login" style="display:none">LOGIN/SIGNUP</a></li>
                <li class="navbar-li"><a id="contact" href="/contact" style="display:none">CONTACT</a></li>
                <li class="navbar-li"><a id="fundList" href="/fund-list" style="display:none">FUND LIST</a></li>
                <li class="navbar-li"><a id="history" href="/histories" style="display:none">HISTORY</a></li>
                <li class="navbar-li"><a id="newMovie" href="/new-plan" style="display:none">NEW MOVIE</a></li>
                <li class="navbar-li"><a id="home" href="/main">HOME</a></li>
            </ul>
        </div> 
    </div>

    <div id="main-title">
        <span >K I M O K J U J O</span>
        <br>
        <br>
        <br>
        <br>
        <p>PREDICT AUDIENCE & BREAK-EVEN POINT</p>
    </div>

    <script src="/js/main.js"></script>
    </body>
</html>