<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>
    <script src="/js/jquery.cookie.js"></script>
    <meta charset="UTF-8">
    <title>히스토리 개별 정보</title>

</head>
<body>
    <p style="font-size:28px">KIMOKJUJO.CO</p>
    <div id="user1-main" class="main" style="display:none">
        <div class="main_container">
            <ul>
                <a id="user1-home" href="/main">HOME</a>
                <a id="user1-newMovie" href="/new-plan">NEW MOVIE</a>
                <a id="user1-fundList" href="/fundlist">FUNDLIST</a>
                <a id="user1-history" href="/histories">HISTORY</a>
                <a id="user1-contact" href="/contact">CONTACT</a>
            </ul>
        </div>
    </div>

    <div id="user2-main" class="main" style="display:none">
        <div class="main_container">
            <ul>
                <a id="user2-home" href="/main">HOME</a>
                <a id="user2-newMovie" href="/new-plan">NEW</a>
                <a id="user2-history" href="/histories">HISTORY</a>
                <a id="user2-contact" href="/contact">CONTACT</a>
            </ul>
        </div>
    </div>
    <a id="logout" href="/logout">Logout</a>

    <div id="movie-info">
        <p id="title"></p>
        <p id="_3words"></p>
        <p id="original"></p>
        <p id="budget"></p>
        <p id="releaseMonth"></p>
        <p id="actor1Id"></p>
        <p id="actor2Id"></p>
        <p id="directorId"></p>
        <p id="makerId"></p>
        <p id="contentRate"></p>
        <p id="genre"></p><br>
        <p id="audience"></p>
        <p id="breakEvenPoint"></p>
        <p id="contract"></p><br>
        <p id="scenario"></p><br>
    </div>
    <script src = '/js/movie-info.js'></script>
</body>
</html>