<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <meta charset="UTF-8">
    <title>Main-Enterpriser</title>
</head>
    <body>
        <div id="main">
            <p style="font-size:28px">KIMOKJUJO.CO</p>
            <div class="main_container">
                <ul>
                    <a id="home" href="user1-main.html">Home</a>
                    <a id="newMovie" href="new-movie.html">NEW MOVIE</a>
                    <a id="fundlist" href="fundlist.html">FUNDLIST</a>
                    <a id="history" href="history.html">HISTORY</a>
                    <a id="contact" href="contact.html">CONTACT</a>
                </ul>
            </div>

            <button id="logout" class="button">Logout</button>
        </div>

        <script src="/js/user1-main.js"></script>
    </body>
</html>