.background-img {
    overflow: hidden;
}
.background-img > img{
    position: absolute;
    min-height: 100%;
    width : 100%;

    left: 50vw;
    top: 0vh;

    transform: translate(-50%, 0);


    margin: 0;
    padding: 0;
    z-index: -443124;
}