.like-box{filter: url('#filter');
}

.like-cnt{
    position: absolute;
    cursor: pointer;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);     background: rgba(255,255,255,0.3);     width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    line-height: 75px;
    z-index: 10;
}
.like-btn{
    color: #fff;
}


::-moz-selection { background: transparent;}
::selection {background: transparent;}