.like-box{filter: url('#filter');
}

.like-box {
    position: relative;
    top: 100px;
    right: 15px;
    height: 70px;
}
.like-box > * {
    display: block;
}

.like-cnt{
    cursor: pointer;
    background: rgba(142, 142, 142, 0.7);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    text-align: center;
    line-height: 75px;
    z-index: 10;
}
.like-btn{
    color: #fff;
}

.material-icons{
    font-size: 25px;
    position: relative;
    bottom: 20%;
}

.like-count-box{
    font-size: 20px;
    width: inherit;
    text-align: center;
}

.like-message-box{
    position : absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    width: 50vw;
    text-align: center;
    color: #ffffff;
    padding: 50px;
}

