.plan-movie-box {
    position: absolute;
    top: 50%; 
    left: 50%;
    width: 50vw;
    height: 50vh;
    padding: 40px;
    font-family: 'Barlow Semi Condensed', 'Nanum Gothic';
    background-color: rgba(255, 255, 255, 0.55);

    transform: translate(-50%, -50%);

    overflow: scroll;

    text-align: center;
}

.plan-movie-box  input[type=text], input[type=number], input[type=password] , input[type=tel], input[type=email], textarea{
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.budget-input {
    position: relative;
}
.budget-input > span {
    position: absolute;
    top: 50%;
    right: 12%;
    transform: translate(0%, -50%);
}

label {
    display: block;
}

button, input[type=submit] {
    background-color: #373737;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 80%;
} 
button:hover, input[type=submit] {
    opacity: 0.8;
}
