.signup-in-box {
    position: absolute;
    width: 20vw;
    left: 50%;
    top: 50%; 
    padding: 40px; 
    transform: translate(-50%, -50%);

    font-family: 'Barlow Semi Condensed', 'Nanum Gothic';
    background-color: white;

    text-align: center;
}

.signup-in-box  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #373737;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
} 
button:hover {
    opacity: 0.8;
}

.radio-box input[type=radio]:checked:after {
    content: '';
    background: #373737
}
.radio-box input[type=radio]:checked:before {
    content: '';
    background: #373737
}